<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> Me</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quam, odio assumenda, ullam vel ipsa quibusdam tempora, eos quis modi possimus sed dolore quaerat laboriosam voluptate facilis? Tempore distinctio, eveniet. Velit voluptatem soluta consequuntur reiciendis molestiae ducimus ad dignissimos culpa tenetur, aperiam beatae nulla fugit earum, nisi quam nemo nam sit? Quam delectus praesentium consequuntur veniam iusto molestias illum quo. Dolores odit, reprehenderit vitae rerum pariatur consequatur quo, labore quis exercitationem veniam a unde quidem. Error, nam dolorem itaque dolores magnam omnis. Quae, saepe vel, repellat ipsam pariatur consectetur cupiditate. Quo cumque asperiores corrupti in perferendis eum aliquam unde quis.</p>
  </body>
</html>
