<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %> Me</p>
    <p>Sisi Li</p>
    <p>Phone: 416-888-8888</p>
    <p>Email: sli123@gmail.com</p>
   
  </body>
</html>
