<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Page !</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui itaque natus, ea aspernatur, adipisci tempora dolorem nobis quaerat sequi laudantium, nesciunt, quod sint. Assumenda quam, itaque porro natus nisi dolorem iure ea laboriosam culpa quod vero eaque praesentium commodi laudantium atque cum dolorum neque. Molestias inventore assumenda rem distinctio eligendi nemo, eius necessitatibus quo sequi delectus beatae eos illo earum sint quia aliquid. Iure minima quaerat soluta, asperiores deleniti voluptates veritatis nesciunt autem ipsum facilis reprehenderit similique earum molestias necessitatibus ab libero alias quia perferendis, quis. Libero animi vitae non, dignissimos necessitatibus alias praesentium officia suscipit, doloribus rem sapiente dolorum!</p>
  </body>
</html>
